* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    width: 700px;
    height: 100vh;
    padding: 12px;
}
.main {
    display: flex;
    justify-content: center;
    background-color: steelblue;
}

.input-txt {
    width: 100%;
    border: none;
    height: 35px;
    padding: 10px;
}
input:focus {
    outline: none;
}
.heading {
    margin-left: 15px;
}
.horizontal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
